@import url(//fonts.googleapis.com/css?family=Noto+Sans+JP);

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--beige);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.selectorGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "startQuiz startQuiz reset selectCount"
            "startQuiz startQuiz reset selectCards"
            "kanji4 kanji3 kanji2 kanji1"
            "cards cards cards cards"
}

.kanjiSel {
    border-radius: 0.3em;
    border: solid 1px black;
    margin: 1em;
}

.kanji1 {
    grid-area: kanji1;
}

.kanji2 {
    grid-area: kanji2;
}

.kanji3 {
    grid-area: kanji3;
}

.kanji4 {
    grid-area: kanji4;
}

.cards {
    grid-area: cards;
}

ul.header {
    grid-area: startQuiz;
    margin: 0;
    padding: 0;
}

ul.header li {
    list-style: none;
}

.switchScreen,
.selectorGrid button.switchScreen {
    border-radius: 0.3em;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
    height: 2em;
    background-color: var(--green)
}

.selectorGrid button {
    grid-area: reset;
    border-radius: 0.3em;
    cursor: pointer;
    height: 2em;
    font-size: 1.5em;
    background-color: var(--pink)
}

.selectCount {
    grid-area: selectCount;
}

.selectCards {
    grid-area: selectCards;
}

.Jpan ruby rt {
    font-family: 'Yu Gothic UI', 'Meiryo UI', 'MS UI Gothic', sans-serif;
    font-size: 60%;
}

.Hira, .Hira *, .Jpan, .Jpan *, .Kana, .Kana * {
    font-style: normal;
    font-family: 'Yu Gothic UI', 'Meiryo UI', 'MS UI Gothic', sans-serif;
    font-family: 'Noto Sans JP';
}

ruby > rt {
    display: block;
    font-size: 50%;
    text-align: start;
}

rt {
    text-indent: 0px;
    line-height: normal;
    text-emphasis: none;
    -webkit-text-emphasis: none;
}

ruby {
    text-indent: 0px;
}

.cards {
    margin-top: 0.3em;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 5px 5px;
}

.cards div {
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    margin: 0.2em 0.2em 0px 0px;
    cursor: pointer;
    background-color: white;
    padding: 1px;
}

.cards div.selected {
    font-weight: bold;
    filter: drop-shadow(2px 4px 6px black) sepia(65%);
    border: solid 1px white;
    padding: 0px;
}

:root {
    --pink: #ffc0cb;
    --beige: #fff4e6;
    --green: #30f2c6;
    --purple: #ebd8f9;
    --yellow: #eff066;
}

form.questionStack {
    display: flex;
    font-size: 2rem;
}

div.question {
    background-color: var(--yellow);
    border-radius: 0.3em;
}

div.progress {
    display: flex;
    margin-bottom: 0.5em;
}

div.progress div {
    flex-grow: 1;
    height: 1em;
}

form.question {
    font-size: 2rem;
    padding: 0.5em;
}

form.question div.question {
    height: 6rem;
    line-height: 7rem;
}

form.question input {
    border-radius: 0.3em 0 0 0.3em;
    font-size: 2rem;
    padding: 0.3em;
}

form.question .hint {
    height: 2.3em;
    line-height: 2.3em;
    font-size: 1.5rem;
}

form.question button {
    border-radius: 0 0.3em 0.3em 0;
    font-size: 2rem;
    background-color: var(--green);
    padding: 0.3em;
}

form.questionOk,
.resultTrue {
    background-color: green;
}

form.questionNok,
.resultFalse {
    background-color: red;
}


