@import url(//fonts.googleapis.com/css?family=Noto+Sans+JP);

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Jpan ruby rt {
    font-family: 'Yu Gothic UI', 'Meiryo UI', 'MS UI Gothic', sans-serif;
    font-size: 60%;
}

.Hira, .Hira *, .Jpan, .Jpan *, .Kana, .Kana * {
    font-style: normal;
    font-family: 'Yu Gothic UI', 'Meiryo UI', 'MS UI Gothic', sans-serif;
    font-family: 'Noto Sans JP';
}

ruby > rt {
    display: block;
    font-size: 50%;
    text-align: start;
}

rt {
    text-indent: 0px;
    line-height: normal;
    text-emphasis: none;
    -webkit-text-emphasis: none;
}

ruby {
    text-indent: 0px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 5px 5px;
}

.cards div {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 5px 5px 0px 0px;
    cursor: pointer;
    background-color: white;
}

.cards div.selected {
    font-weight: bold;
    filter: drop-shadow(2px 4px 6px black);
}

:root {
    --pink: #ffc0cb;
    --beige: #fff4e6;
    --green: #30f2c6;
    --purple: #ebd8f9;
    --yellow: #eff066;
}

form.questionStack {
    display: flex;
    font-size: 2rem;
}

div.question {
    background-color: var(--yellow);
    border-radius: 0.3em;
}

div.progress {
    display: flex;
}

div.progress div {
    flex-grow: 1;
    height: 1em;
}

form.question {
    font-size: 2rem;
    padding: 1em;
    background-color: #aaa;
}

form.question div.question {
    height: 6rem;
    line-height: 7rem;
}

form.question input {
    border-radius: 0.3em 0 0 0.3em;
    font-size: 2rem;
    padding: 0.3em;
}

form.question .hint {
    height: 2.3em;
    line-height: 2.3em;
    font-size: 1.5rem;
}

form.question button {
    border-radius: 0 0.3em 0.3em 0;
    font-size: 2rem;
    background-color: var(--green);
    padding: 0.3em;
}

form.questionOk,
.resultTrue {
    background-color: green;
}

form.questionNok,
.resultFalse {
    background-color: red;
}


